<ks-dashboard-layout [sidebarMode]="sidebarMode()" class="bg-grey-38">
  <ks-side-nav logo="img/vivacart.png" [(open)]="openSideBar" class="elevation-1 bg-white">
    <ks-accordion-container>
      <ks-accordion-item>
        <ks-accordion-header>

          Home
        </ks-accordion-header>
        <ks-accordion-content>
          <ul>
            <li><a routerLink="/home" class="active-menu">Home</a></li>
            <li><a routerLink="/home">Home</a></li>
          </ul>
        </ks-accordion-content>
      </ks-accordion-item>
      <ks-accordion-item>
        <ks-accordion-header>

          <span>Home</span>
        </ks-accordion-header>
        <ks-accordion-content>
          <ul>
            <li><a routerLink="/home" class="active-menu">Home</a></li>
            <li><a routerLink="/home">Home</a></li>
          </ul>
        </ks-accordion-content>
      </ks-accordion-item>
    </ks-accordion-container>
  </ks-side-nav>
  <ks-navbar-container class="elevation-1 bg-white">
    <ks-navbar-row class="navbar-height p-1">
      <button ksIcon="list" ksButton variant="text" size="med" class="fsi-2 p-7"
        (click)="openSideBar.set(!openSideBar())"></button>
    </ks-navbar-row>
  </ks-navbar-container>
  <ks-dashboard-content>
    <router-outlet></router-outlet>

    <div class="d-inline-flex flex-column gap-2 ">
      <button ksButton appearance="primary" size="lg">Small Primary</button>
      <button ksButton appearance="secondary" size="med" variant="ghost">Medium Secondary</button>
      <button ksButton appearance="success" size="lg" variant="solid">Large Tertiary</button>
      <button ksButton appearance="primary" variant="outline">Outline</button>
      <button ksButton appearance="primary" [disabled]="true">Disabled</button>
    </div>
  </ks-dashboard-content>
</ks-dashboard-layout>