@use 'sass:map';
@use 'sass:color';

$primay-color: #538fac;
$secondary-color: #ea9845;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #538fac;
$dark-color: #353535;
$grey-color: #d8d8d8;
$white: #ffffff;


// الألوان الرئيسية والثانوية والرسائل
$colors: (
  "primary": #538fac,
  "secondary": #ea9845,
  "success": #28a745,
  "error": #dc3545,
  "warning": #ffc107,
  "info": #538fac,
  "neutral-light": #cfcbc2,
  "grey": #212121,
  "tertiary": #363d48,
);


@for $i from 0 through 10 {
  .opacity-#{$i * 10} {
    opacity: $i * 10 * 1%;
  }

  @each $name, $color in $colors {
    .bg-#{$name}-#{$i} {
      background-color: color.change($color, $lightness: ($i * 10) * 1% );
    }
    .text-#{$name}-#{$i} {
      color: color.change($color, $lightness: ($i * 10) * 1% );
    }

    .br-#{$name}-#{$i} {
      border-color: color.change($color, $lightness: ($i * 10) * 1%);
    }
  }
}

@each $name , $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
  .br-#{$name} {
    border-color: $color;
  }
}

.bg-white {
  background-color: $white;
}

.bg-dark {
  background-color: $dark-color;
}

.dashboard-bg {
  background-color: #f5f5f5;
}
