// h1, h2, h3, h4, h5, h6 {
//   font-weight: $font-weight-medium;
//   margin-bottom: rem($spacing-unit);
// }

// p {
//   margin-bottom: rem($spacing-unit * 1.5);
// }

$font-size: 0.5rem;

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

// Compare this snippet from packages/kyrolus-sous-material/styles/components/_form.scss:
@for $i from 1 through 6 {
  .fsi-#{$i} {
    font-size: $font-size * $i !important;
  }
}
