@use "sass:meta";
$spacer: 1rem;

// Sizes for margin/padding
$sizes: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  auto: auto,
);

// Properties to generate
$properties: (
  m: margin,
  p: padding,
);

// Sides to generate
$sides: (
  t: top,
  b: bottom,
  l: left,
  r: right,
  x: (
    left,
    right,
  ),
  y: (
    top,
    bottom,
  ),
  null: null // For all sides,,,,,
);

@each $prop, $css-prop in $properties {
  @each $side, $css-side in $sides {
    @each $size, $value in $sizes {
      // Generate the class name
      @if $side == null {
        .#{$prop}-#{$size} {
          #{$css-prop}: $value !important;
        }
      } @else if meta.type-of($css-side) == list {
        .#{$prop}#{$side}-#{$size} {
          @each $individual-side in $css-side {
            #{$css-prop}-#{$individual-side}: $value !important;
          }
        }
      } @else {
        .#{$prop}#{$side}-#{$size} {
          #{$css-prop}-#{$css-side}: $value !important;
        }
      }
    }
  }
}
